<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes do Filme</title>
    <!-- Link para o CSS externo -->
    <link rel="stylesheet" href="../static/css/filme.css">
    <link rel="stylesheet" href="../static/css/header.css"> <!-- Link para o CSS externo -->
    <link rel="stylesheet" href="../static/css/global.css"> <!-- Link para o CSS externo -->
</head>

<body>
    <header>
        <nav class="nav-up">
            <ul class="navbar">
                <li class="nav-left">PickFlick</li>
                <li class="nav-middle">
                    <a href="#pesquisar">Pesquisar Filmes</a>
                    <a href="#recomendados">Filmes Recomendados</a>
                    <a href="#recomendados">Minhas Avaliações</a>
                </li>
                <li class="nav-right">
                    <a href="#" class="signup-button" id="openSignupModal">Sair</a>
                </li>
            </ul>
        </nav>
        <div class="nav-down">
            <h1>Detalhes do Filme</h1>
            <nav>
                <a href="index.html">Voltar à Pesquisa</a>
            </nav>
        </div>
    </header>

    <main>
        <section id="detalhes-filme">
            <div class="card-detalhes">
                <div class="info-filme">
                    <h2>{{ filme.title }}</h2>
                    <p><strong>Gênero:</strong> {{ filme.genres }}</p>
                    <p><strong>Ano de Lançamento:</strong> {{ filme.release_date }}</p>
                    <p><strong>Duração:</strong> {{ filme.runtime }}</p>
                    <p><strong>Diretor:</strong> Nome do Diretor</p>
                    <p><strong>Sinopse:</strong>{{ filme.overview }}</p>
                </div>
                <div class="imagem-filme">
                    <img src="https://image.tmdb.org/t/p/w500{{ filme.poster_path }}" alt="Capa do Filme">
                </div>
            </div>
            <form action="{{ url_for('main.avaliar_filme', id=filme.id) }}" method="POST">
                <div class="avaliacao-filme">
                    <h3>Avaliação:</h3>
                    <div class="estrelas">
                        <input type="radio" name="rating" id="star5" value="5" />
                        <label for="star5">&#9733;</label>
            
                        <input type="radio" name="rating" id="star4" value="4" />
                        <label for="star4">&#9733;</label>
            
                        <input type="radio" name="rating" id="star3" value="3" />
                        <label for="star3">&#9733;</label>
            
                        <input type="radio" name="rating" id="star2" value="2" />
                        <label for="star2">&#9733;</label>
            
                        <input type="radio" name="rating" id="star1" value="1" />
                        <label for="star1">&#9733;</label>
                    </div>
                    <button id="btnAvaliar" type="submit">Avaliar</button>
                </div>
            </form>
            
            
            
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Sistema de Recomendação de Filmes</p>
    </footer>

    <script src="script.js"></script> <!-- Link para o JavaScript externo -->
</body>

</html>