<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PickFlick - Sistema de Recomendação de Filmes</title>
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/filmes.css">
    <link rel="stylesheet" href="../static/css/filmesPesquisados.css">
    <link rel="stylesheet" href="../static/css/global.css">
</head>

<body>
    <header>
        <nav class="nav-up">
            <ul class="navbar">
                <li class="nav-left">PickFlick</li>
                <li class="nav-middle">
                    <a href="#pesquisar">Pesquisar Filmes</a>
                    <a href="#recomendados">Filmes Recomendados</a>
                    <a href="/avaliacoes">Minhas Avaliações</a>
                </li>
                <li class="nav-right">
                    <a href="#" class="signup-button" id="openSignupModal">Sair</a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <!-- Seção de Pesquisa -->
        <section id="pesquisar">
            <h3 style="text-align: center;">Seja Bem-vindo {{ nome }}</h3>
            <form id="form-pesquisar" class="form-pesquisar" method="POST" action="{{ url_for('main.pesquisar') }}">
                <input type="text" name="nome_filme" placeholder="Digite o nome do filme...">
                <button type="submit">Pesquisar</button>
            </form>
            <div id="resultados-pesquisa">
                <!-- filmes adicionados dinamicamente -->
                {% if resultados %}
                {% for filme in resultados %}
                <div class="card-filme" data-id="{{ filme.id }}">
                    <img src="https://image.tmdb.org/t/p/w500{{ filme.poster_path }}" alt="Capa do Filme">
                    <h3>{{ filme.title }}</h3>
                    <div class="hover-message">{{ filme.overview }}</div>
                </div>
                {% endfor %}
                {% else %}
                <p>Nenhum resultado encontrado.</p>
                {% endif %}
            </div>
        </section>


        <!-- Seção de Filmes Recomendados -->
        <section id="recomendados">
            <h2>Filmes Recomendados</h2>
            <div id="lista-recomendados">
                {% if filmes_recomendados %}
                {% for filme in filmes_recomendados %}
                <div class="card-filme" data-id="{{ filme.id }}">
                    <img src="../static/assets/capa_recomendados.jpg"
                        alt="Capa do Filme {{ filme.titulo }}">
                    <h3>{{ filme.titulo }}</h3>
                    <div class="hover-message">{{ filme.overview }}</div>
                </div>
                {% endfor %}
                {% else %}
                <p>Nenhum filme recomendado no momento. Avalie mais filmes para receber recomendações.</p>
                {% endif %}
            </div>
        </section>

    </main>

    <footer>
        <p>&copy; 2024 Sistema de Recomendação de Filmes</p>
    </footer>

    <script src="../static/js/filmes.js"></script>
</body>

</html>